@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@keyframes underline-grow {
    from { width: 0; }
    to { width: 100%; }
}
.nav-link {
    position: relative;
    padding-bottom: 2px;
}
.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.3s ease-in-out;
}
.nav-link:hover::after {
    width: 100%;
}
#mobile-menu {
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
}
#mobile-menu.open {
    max-height: 100vh;
    opacity: 1;
}


body.preloader-active {
    position: fixed;
    width: 100%;
    overflow: hidden;
    
  }
  
  .preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
  }
  
  .preloader .loading-text {
    width: 100%;
    opacity: 0;
    padding: 0px 50px;

    font-size: 3rem;
    color: #010203;
    margin-top: 20px;
    opacity: 0;
  }
  
  /* .preloader .loading-text {
    font-size: 24px;
    color: #fff;
    margin-top: 20px;
    opacity: 0;
  } */
  
  .content {
    display: none;
  }
  
  html {
    overflow-x: hidden;
  }